body{
    background-color: #cce7ff;
  }
    .searchbox{
      position: relative;
      display: inline-block;
      margin-left: 1.5rem;
    }
    .searchbox input:focus {
      outline: none; /*by default,input shows an outline on focus */
    }
    .searchbox input{
      z-index: 0;
      margin-top: 8%;
      width: 250%;
      height: 40px;
      background:#f1f3f4;
      border-radius: 25px;
      border: 2px solid #f1f3f4;
    }
    form{
      display:inline-block;
    }
  #closeid{
    display: none;
  }
   .fa-search{
       position: absolute;
       top:55%;
       left:5%;
       color:#8e99a4;
   }
   .close{
          position: absolute;
          top:50%;
          right:-160%;
          color:#8e99a4;
          border: none;
            padding: 0;
   }
   .search{
    color:#8e99a4;
    font-weight: 400; 
    padding-left: 50px;
    font-size: 18px;
    z-index: 3;
    
   }
   .fa-times{
       position: absolute;
    top:30%;
    right:5%;  
   }